## Introduction

Pandas is a powerful data manipulation library in Python. In this tutorial, we'll cover:
- Loading datasets
- Basic data exploration
- Data cleaning
- Simple visualizations

In [ ]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

## Loading Data

We'll create a sample dataset for demonstration purposes.

In [ ]:
# Create sample dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'Salary': [50000, 60000, 75000, 55000, 70000],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR']
}

df = pd.DataFrame(data)
print(df)

## Data Exploration

Let's explore the basic properties of our dataset.

In [ ]:
# Display basic information
print("Dataset shape:", df.shape)
print("\nColumn names:", df.columns.tolist())
print("\nData types:")
print(df.dtypes)
print("\nBasic statistics:")
print(df.describe())

## Data Analysis

Perform some basic analysis operations.

In [ ]:
# Calculate average salary by department
avg_salary = df.groupby('Department')['Salary'].mean()
print("Average Salary by Department:")
print(avg_salary)

# Find highest paid employee
highest_paid = df.loc[df['Salary'].idxmax()]
print(f"\nHighest paid employee: {highest_paid['Name']} (${highest_paid['Salary']:,})")

## Visualization

Create a simple bar chart of salaries.

In [ ]:
# Create bar chart
plt.figure(figsize=(10, 6))
plt.bar(df['Name'], df['Salary'], color='skyblue')
plt.xlabel('Employee Name')
plt.ylabel('Salary ($)')
plt.title('Employee Salaries')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

## Conclusion

This notebook demonstrated basic pandas operations including:
- Creating DataFrames
- Data exploration with describe() and info()
- Group operations with groupby()
- Simple visualizations with matplotlib

These fundamentals form the foundation for more advanced data analysis tasks.